* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

.main-cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
	background-color: coral;
	/* background-color: #ff0000; */
	width: 100%;
	height: 100vh;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5em;
	background-color: coral;
}

.checkbox {
	width: 25%;
	margin-left: 2em;
}

/* ----------------------------- select section ----------------------------- */

.select-cont {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightblue;
	width: 100%;
	margin-top: 2em;
	margin-bottom: 2em;
}

#selectSet {
	width: 10%;
	text-align: center;
}

/* ------------------------------ Card section ------------------------------ */

.set-cont {
	background-color: coral;
	width: 100%;
	padding-left: 3em;
	padding-right: 3em;
	justify-content: center;
}

#card-cont {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	height: 100%;
	background: coral;
	margin: 0;
	padding: 0;
}

/* ---------------------------------- Cards --------------------------------- */
.card {
	width: 18rem;
	height: 18rem;
	background: yellow;
}

.card-img-top {
	width: 10rem;
	height: 10rem;
}
